.menu{
	background-color: #eee;
	padding-right: 0;
	height: 100vh;
}
.nav-link{
	color: #000;
}
.nav-link:hover{
	color: #fff;
	background-color: #ddd;
}
.nav-pills .nav-link{
	border-radius: 0;
}
.nav-pills .nav-link.active{
	background-color: #ccc;
	color: #fff;
}
.setting{
	background-color: #eee;
	width: 100%;
	height: 100vh;
}